<html ng-app="transmission">
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS DEMO</title>
    <link rel="stylesheet" href="style/css/transmission.css">
</head>
<body ng-controller="mainController">
<div class="header">
    <span class="logo"></span>
    <span class="logo-with-text"></span>
    <span class="icon-add"></span>
    <span class="icon-delete"></span>
    <span class="icon-start-light"></span>
    <span class="icon-pause-light"></span>
    <span class="icon-start-all-light"></span>
    <span class="icon-pause-all-light"></span>
</div>
<ul id="torrent-list" class="torrent-list">
    <li ng-repeat="item in data.torrent track by $index" ng-class="parsTorrentClassName(item.status,$index)" ng-click="selectTorrent($index)">
        <div class="name">{{item.name}}</div>
        <div class="status" ng-bind-html="parseText.Status($index)">
            <span>已暂停</span>
        </div>
        <div class="progess-bar">
            <div ng-style="{'width':item.percentDone < 1 ? item.percentDone * 100 + '%':100 + '%'}"></div>
        </div>
        <div class="transform-data" ng-bind-html="parseText.TransformData($index)">
        </div>
    </li>
</ul>
<div id="torrent-detail" class="torrent-detail">

</div>
<div class="footer">
    <span class="icon-config"></span>
    <span class="icon-settings"></span>
    <span class="icon-scheduled"></span>
    <span class="icon-listview"></span>
    <span class="icon-info-black" ng-click="showDetail()"></span>
</div>
<script src="libs/requirejs/require.js"  data-main="load.js"></script>
</body>
</html>