<html ng-app="transmission">
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS DEMO</title>
    <link rel="stylesheet" href="style/css/transmission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body ng-controller="mainController">
<div class="header">
    <span class="logo"></span>
    <span class="logo-with-text"></span>
    <span class="icon-add"></span>
    <span class="icon-delete"></span>
    <span class="icon-start-light"></span>
    <span class="icon-pause-light"></span>
    <span class="icon-start-all-light"></span>
    <span class="icon-pause-all-light"></span>
</div>
<ul id="torrent-list" class="torrent-list">
    <li ng-repeat="item in data.torrent track by $index" ng-class="parsTorrentClassName(item.status,$index)" ng-click="selectTorrent($index)">
        <div class="name">{{item.name}}</div>
        <div class="status" ng-bind-html="parseText.Status($index)"></div>
        <div class="progess-bar">
            <div ng-style="{'width':item.percentDone < 1 ? item.percentDone * 100 + '%':100 + '%'}"></div>
        </div>
        <div class="transform-data" ng-bind-html="parseText.TransformData($index)"></div>
    </li>
</ul>
<div id="torrent-detail" class="torrent-detail" ng-class="{'show':detailShow}">
    <span class="icon-close" ng-click="detail.close()"></span>
    <p>
        <span class="icon-info-light selected"></span><span class="icon-people"></span><span class="icon-server"></span><span class="icon-checklist"></span>
    </p>
    <div>
        <h2>name</h2>
        <h3>活跃状态</h3>
        <div class="table">
            <table>
                <tbody>
                <tr>
                    <th>下载进度</th>
                    <td>492.6 MB / 4.73 GB (10.7%), 13.9 MB 未验证</td>
                    <th>可用性</th>
                    <td></td>
                    <th>已上传</th>
                    <td></td>
                    <th>已下载</th>
                    <td></td>
                    <th>状态</th>
                    <td></td>
                    <th>运行时长</th>
                    <td></td>
                    <th>预计还需时长</th>
                    <td></td>
                    <th>上一次活跃</th>
                    <td></td>
                    <th>错误</th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3>明细</h3>
        <div class="table">
            <table>
                <tbody>
                <tr>
                    <th>大小</th>
                    <td></td>
                    <th>位置</th>
                    <td></td>
                    <th>哈希</th>
                    <td></td>
                    <th>隐私</th>
                    <td></td>
                    <th>源</th>
                    <td></td>
                    <th>备注</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="footer">
    <span class="icon-config"></span>
    <span class="icon-settings"></span>
    <span class="icon-scheduled"></span>
    <span class="icon-listview"></span>
    <span class="icon-info-black" ng-click="detail.show()"></span>
</div>
<script src="libs/requirejs/require.min.js"  data-main="load.js"></script>
</body>
</html>