@import "../base/variables";
@import "../mixins/importMixins";
@import "../base/font";
@import "../jqueryui/jqueryui";
/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 62.5% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  /* Resets 1em to 10px */
  color: #222;
  /* !important; */
  background: #FFF;
  text-align: center;
  margin: 0 0 30px;
  overflow: hidden;
  img {
    border: none;
  }
  a {
    outline: 0;
  }
}

.clearfix {
  @include clearfix;
}

.selection-none {
  @include css3("user-select", none);
  @include css3("::selection", none);
}

/***
****
****  ABOUT DIALOG
****
***/

#about-dialog > {
  * {
    text-align: center;
  }
  #about-logo {
    background: transparent url("images/logo.png") top left no-repeat;
    width: 64px;
    height: 64px;
    margin-left: 100px;
  }
  #about-title {
    font-size: 1.3em;
    font-weight: bold;
  }
}

/***
****
****  TOOLBAR
****
***/

div#toolbar {
  position: relative;
  margin: 0;
  padding: 10px 0 10px 286px;
  border: none;
  background-color: $prime-green;
  @extend .clearfix;
  @media (max-width: 1024px) {
    padding-left: 61px;
  }
  > div {
    cursor: pointer;
    @include css3("user-select", none);
    display: inline-block;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    float: left;
    &.ico {
      margin: 0 3px;
      height: 35px;
      > span {
        font-size: $font-size-large*2.5;
        color: $toolbar-tool;
        display: inline-block;
        @include css3("transition", all 0.5s);
        border-radius: 25px;
        background-color: transparent;
        position: relative;
        top: -1px;
      }
      &:hover {
        > span {
          background-color: rgba($toolbar-set, 0.5);
        }
      }
    }
    &.toolbar-separator {
      height: 25px;
      margin: 5px;
      border-left: 1px solid #ace7e9;
      width: 3px;
    }
    &.logo {
      position: absolute;
      left: 0;
      top: 0;
      margin-right: 55px;
      > a {
        display: block;
        > img {
          display: block;
        }
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
    &.logo-mobile {
      @extend .logo;
      left: 4px;
      top: 4px;
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
    &.disabled {
      opacity: 0.55;
      cursor: default;
      //background-color: red;
      &:hover {
        > span {
          background-color: transparent;
        }
      }
    }
    &.toolbar-inspector {
      position: absolute;
      top: 16px;
      right: 10px;
      > span {
        font-size: $font-size-large*1.8;
        color: $toolbar-set;
        @include css3("transition", all 0.5s);
        &:hover {
          color: $gray-100;
          @media (max-width: 1024px) {
            color: $toolbar-set;
          }
        }
      }
      &:hover {
        > span {
          background-color: transparent;
        }
      }
      &.selected {
        > span {
          border-radius: 25px;
          background-color: lighten($toolbar-set, 5%);
          color: $gray-100;
          @include css3("transition", all 0.5s);
          &:hover {
            background-color: lighten($toolbar-set, 15%);
          }
        }
      }
    }
  }
  //> {
  //  * {
  //    cursor: pointer;
  //    -moz-user-select: none;
  //    -webkit-user-select: none;
  //    display: inline-block;
  //    border-style: solid;
  //    border-color: #aaa;
  //    border-width: 1px;
  //    padding: 3px;
  //    width: 34px;
  //    height: 34px;
  //    float: left;
  //    border: none;
  //    padding: 0px 3px;
  //    background-position: center center;
  //    background-repeat: no-repeat;
  //  }
  //
  //}
}

/***
****
****  STATUSBAR
****
***/

#statusbar {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $statusbar-bg;
  text-align: left;
  padding: 5px;
  color: $gray-100;
  @media (max-width: 1024px) {
    display: none;
  }
  #filter {
    > .form-select, > .form-inpt {
      margin: 0;
      border: none;
      padding: 5.5px 10px;
      min-width: 129px;
      border-radius: 5px;
      color: darken($statusbar-bg, 15%);
    }
    > .form-inpt {
      padding: 6.5px 10px;
    }
  }
  #speed-info {
    float: right;
    margin: 5px 15px 0 0;
    * {
      display: inline-block;
    }
    #speed-up-container, #speed-dn-container {
      display: inline;
      margin: 0 5px;
      width: 8px;
      height: 8px;
    }
    #speed-up-icon {
      margin-left: 8px;
    }
  }
  #filter-count {
    margin-left: 10px;
  }
}

/***
****
****  TORRENT CONTAINER
****
***/

div#torrent_container {
  position: fixed;
  overflow: auto;
  top: 93px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
  @extend .selection-none;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 1024px) {
    top: 55px;
    bottom: 2.7em;
  }
}

ul.torrent_list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  /**
   * Progressbar
   *
   * Each progressbar has three elemens: a parent container and two children,
   * complete and incomplete.
   *
   * The only thing needed to set the progressbar percentage is to set
   * the complete child's width as a percentage. This is because incomplete
   * is pinned to the full width and height of the parent, and complete
   * is pinned to the left side of the parent and has a higher z-index.
   *
   * The progressbar has different colors depending on its state, so there
   * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
   */
  li.torrent {
    border-bottom: 1px solid #ccc;
    padding: 15px 40px 15px 20px;
    @media (max-width: 1024px) {
      padding: 0.8em;
    }
    color: #666;
    background-color: white;
    position: relative;
    @extend .selection-none;
    &.compact {
      padding: 4px;
      @media (max-width: 1024px) {
        padding: 0.8em;
      }
    }
    &.even {
      background-color: #F7F7F7;
    }
    &.selected {
      background-color: #e9fff3;
    }
    &.compact div.torrent_name {
      color: black;
    }
    a {
      float: right;
      position: relative;
      right: -22px;
      top: 1px;
      img {
        position: relative;
        right: -10px;
      }
      div {
        height: 18px;
        width: 18px;
        &.torrent_pause,&.torrent_resume {
          font-size: ceil($font-size-large*1.285);
          @include css3("transition", opacity 0.5s);
          opacity: 0.65;
        }
        //&.torrent_pause {
        //  background-position: left top;
        //}
        //&.torrent_resume {
        //  background-position: center top;
        //}
      }
      &:active div {
        &.torrent_pause {
          //background-position: left bottom;
        }
        &.torrent_resume {
          //background-position: center bottom;
        }
      }
      &:hover div {
        &.torrent_pause,&.torrent_resume {
          opacity: 1;
        }
      }
    }
    div {
      &.torrent_name {
        font-size: $font-size-large*1.15;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $gray-20;
        margin-top: 2px;
        margin-bottom: 2px;
        &.compact {
          font-size: 1.0em;
          font-weight: normal;
        }
        &.paused {
          font-weight: normal;
          color: #777;
        }
      }
      &.torrent_progress_details, &.torrent_peer_details {
        clear: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-base;
        line-height: $font-size-base*1.5;
        color: $gray-50;
      }
      &.torrent_progress_details.error, &.torrent_peer_details.error {
        color: #F00;
      }
    }
    &.selected div {
      &.torrent_progress_details.error, &.torrent_peer_details.error {
        color: #FFF;
      }
    }
  }
  div {
    &.torrent_progress_bar_container {
      height: 5px;
      position: relative;
      &.compact {
        width: 50px;
        position: absolute;
        right: 10px;
        top: 12px;
        /*float: right;*/
        @media (max-width: 1024px) {
          top: 1.5em;
        }
      }
      &.full {
        margin: 8px 0;
      }
    }
    &.torrent_peer_details.compact {
      margin-top: 2px;
      margin-right: 65px;
      /* leave room on the right for the progressbar */
      float: right;
      /* pins it next to progressbar & forces torrent_name to ellipsize when it bumps up against this div */
    }
    &.torrent_progress_bar {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &.complete {
        z-index: 2;
        &.paused {
          background: $gray-70;
        }
        &.magnet {
          background: $magnet;
        }
        &.leeching {
          background-color: $progess-bar-leeching;
          @include css3("transition", all 0.5s);
          &.queued {
            background-position: left -70px;
            border-color: #889CA5;
          }
        }
        &.seeding {
          background: $seeding;
          @include css3("transition", all 0.5s);
          &.queued {
            background: lighten($seeding, 10%);
          }
        }
      }
      &.incomplete {
        z-index: 1;
        width: 100%;
        background: $gray-90;
        &.paused {
          background: $gray-90;
        }
        &.magnet {
          background: $gray-90;
        }
        &.leeching {
          background: $gray-90;
          @include css3("transition", all 0.5s);
          &.queued {
            background: $gray-90;
          }
        }
        &.seeding {
          background-color: $seeding;
        }
      }
    }
  }
}

/***
****
****  PREFERENCES
****
***/

#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.prefs-section {
  margin: 10px;
  text-align: left;
  > * {
    padding-top: 8px;
    padding-left: 8px;
  }
  .title {
    font-weight: bold;
    font-size: larger;
    padding-left: 0px;
  }
  .row {
    .key {
      float: left;
      padding-top: 3px;
      > * {
        margin-left: 0px;
      }
    }
    .value {
      margin-left: 150px;
      > * {
        width: 100%;
      }
    }
  }
  .checkbox-row > {
    input {
      margin: 0px;
    }
    label {
      margin-left: 5px;
    }
  }
  #alternative-speed-limits-title {
    padding-left: 18px;
    background: transparent url("images/blue-turtle.png") no-repeat;
  }
  #alternative-speed-limits-desc {
    font-size: smaller;
    padding-bottom: 4px;
  }
  #blocklist-info {
    font-size: smaller;
    margin-top: 3px;
  }
}

/***
****
****  TORRENT INSPECTOR
****
***/

div#torrent_inspector {
  overflow: auto;
  text-align: left;
  padding: 15px;
  top: 93px;
  position: fixed;
  width: 570px;
  border-left: 1px solid $gray-80;
  bottom: 0;
  right: 0;
  z-index: 2;
  @media (max-width: 1024px) {
    background-color: $gray-100;
    width: auto;
    top: 55px;
    left: 0;
  }
  /* Files Inspector Tab */
  #inspector-close {
    display: none;
  }
  #inspector-tabs-wrapper {
    width: 100%;
    overflow: hidden;
    text-align: center;
    #inspector-tabs {
      display: inline-block;
      @extend .clearfix;
      > div {
        float: left;
        > a {
          display: block;
          text-decoration: none;
          color: $toolbar-set;
          padding: 3px 8px;
          > span {
            padding: 2px;
            font-size: $font-size-large*1.5;
            border-radius: 25px;
            background-color: transparent;
            @include css3("transition", all 0.5s);
            &:hover {
              color: $gray-100;
              background-color: $gray-80;
            }
          }
        }
        &.selected {
          > a > span {
            color: $gray-100;
            background-color: $toolbar-set;
            @include css3("transition", all 0.5s);
            &:hover {
              color: $gray-100;
              background-color: $toolbar-set;
            }
          }
        }
      }
    }
  }
  #inspector_header {
    margin-top: 8px;
    #torrent_inspector_name {
      font-weight: bold;
      font-size: large;
    }
  }
  @media (max-width: 1024px) {
    .inspector-page {
      .key {
        font-weight: bold;
        float: none;

      }
      .value {
        margin: 0 0 10px 0;
      }
    }
  }
  ul.tier_list {
    margin: 2px 0 8px 0;
    width: 100%;
    padding-left: 0;
    text-align: left;
    display: block;
    cursor: default;
    list-style: none;
    clear: both;
    li {
      overflow: hidden;
    }
    .tracker_activity {
      float: left;
      color: #666;
      width: 330px;
      display: table;
      margin-top: 1px;
      text-overflow: ellipsis;
      @media (max-width: 1024px) {
        width: 230px;
      }
      div {
        padding: 2px;
        @media (max-width: 1024px) {
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 230px;
        }
      }
    }
    table {
      float: right;
      color: #666;
    }
    th {
      text-align: right;
    }
    @media (max-width: 1024px) {
      table {
        margin-top: -2px;
      }
      th, td {
        line-height: 20.5px;
      }
    }

  }
  li.inspector_tracker_entry {
    padding: 3px 0 3px 2px;
    display: block;
    &.odd {
      background-color: #EEEEEE;
    }
  }
  div.tracker_host {
    font-size: 1.2em;
    font-weight: bold;
    color: #222;
  }
  #file-list-header {
    float: right;
    > * {
      cursor: pointer;
      @include css3("user-select", none);
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      background-color: $gray-95;
      border: 1px solid #787878;
      @include css3("transition", all 0.5s);
      &:hover, &:active {
        border-color: darken($btn-bg, 20%);
        background: $btn-bg;
        color: $gray-100;
      }
    }
  }
  #inspector_file_list {
    text-align: left;
    cursor: default;
    overflow: hidden;
    border-top: 1px solid $gray-80;
    width: 100%;
    margin: 6px 0 0 0;
    padding: 6px 0 10px 0;
    display: block;
    list-style: none;
    clear: both;
  }
  li.inspector_torrent_file_list_entry {
    padding: 3px 0 3px 2px;
    display: block;
    &.skip {
      color: #666;
    }
    &.even {
      background-color: #F7F7F7;
    }
  }
  div.inspector_torrent_file_list_entry_name {
    font-size: 1.2em;
    color: black;
    display: inline;
    margin-left: 0;
  }
  li.inspector_torrent_file_list_entry.skip > .inspector_torrent_file_list_entry_name {
    color: #999;
  }
  div.inspector_torrent_file_list_entry_progress {
    color: #999;
    margin-left: 20px;
  }
  li.inspector_torrent_file_list_entry {
    &.skip > .file_wanted_control {
      background-position: left top;
    }
    &.complete > .file_wanted_control {
      background-position: left -19px;
    }
  }
  ul.single_file li.inspector_torrent_file_list_entry > .file_wanted_control, li.inspector_torrent_file_list_entry.complete > .file_wanted_control {
    background-position: left -38px;
    cursor: default;
  }
}

/* Peers Inspector Tab */

#inspector_peers_list {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
  cursor: default;
  overflow: hidden;
  > div.inspector_group {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

table.peer_list {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  cursor: default;
  clear: both;
  table-layout: fixed;
  .encryptedCol {
    width: 16px;
  }
  .upCol, .downCol {
    width: 70px;
  }
  .percentCol {
    width: 30px;
    padding-right: 5px;
    text-align: right;
  }
  .statusCol {
    width: 40px;
    padding-right: 5px;
  }
  .addressCol {
    width: 180px;
  }
  .clientCol {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

tr.inspector_peer_entry {
  div.encrypted-peer-cell {
    width: 16px;
    height: 16px;
    background: transparent url("images/lock_icon.png") no-repeat;
  }
  &.odd {
    background-color: #EEEEEE;
  }
}

/***
****  File Priority Buttons
***/

div {
  &.file-priority-radiobox {
    display: inline;
    float: right;
    margin: 4px;
    margin-top: 2px;
    > {
      * {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: inline-block;
        border-style: solid;
        border-color: #aaa;
        border-width: 1px;
        padding: 3px;
        width: 20px;
        height: 12px;
      }
      div {
        &.low {
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background-color: #dcdcdc;
          background-image: url("images/file-priority-low.png");
          /* fallback */
          background-image: url("images/file-priority-low.png"), -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#c8c8c8));
          /* Saf4+, Chrome */
          background-image: url("images/file-priority-low.png"), -webkit-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* Chrome 10+, Saf5.1+ */
          background-image: url("images/file-priority-low.png"), -moz-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* FF3.6+ */
          background-image: url("images/file-priority-low.png"), -ms-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* IE10 */
          background-image: url("images/file-priority-low.png"), -o-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* Opera 11.10+ */
          background-position: center;
          background-repeat: no-repeat;
          border-right-width: 0px;
          &:active, &.selected {
            background-color: #e6e6ff;
            background-image: url("images/file-priority-low.png");
            /* fallback */
            background-image: url("images/file-priority-low.png"), -webkit-gradient(linear, left top, left bottom, from(#d7d7ff), to(#f5f5ff));
            /* Saf4+, Chrome */
            background-image: url("images/file-priority-low.png"), -webkit-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* Chrome 10+, Saf5.1+ */
            background-image: url("images/file-priority-low.png"), -moz-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* FF3.6+ */
            background-image: url("images/file-priority-low.png"), -ms-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* IE10 */
            background-image: url("images/file-priority-low.png"), -o-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* Opera 11.10+ */
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        &.normal {
          background-color: #dcdcdc;
          background-image: url("images/file-priority-normal.png");
          /* fallback */
          background-image: url("images/file-priority-normal.png"), -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#c8c8c8));
          /* Saf4+, Chrome */
          background-image: url("images/file-priority-normal.png"), -webkit-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* Chrome 10+, Saf5.1+ */
          background-image: url("images/file-priority-normal.png"), -moz-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* FF3.6+ */
          background-image: url("images/file-priority-normal.png"), -ms-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* IE10 */
          background-image: url("images/file-priority-normal.png"), -o-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* Opera 11.10+ */
          background-position: center;
          background-repeat: no-repeat;
          &:active, &.selected {
            background-color: #e6e6ff;
            background-image: url("images/file-priority-normal.png");
            /* fallback */
            background-image: url("images/file-priority-normal.png"), -webkit-gradient(linear, left top, left bottom, from(#d7d7ff), to(#f5f5ff));
            /* Saf4+, Chrome */
            background-image: url("images/file-priority-normal.png"), -webkit-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* Chrome 10+, Saf5.1+ */
            background-image: url("images/file-priority-normal.png"), -moz-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* FF3.6+ */
            background-image: url("images/file-priority-normal.png"), -ms-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* IE10 */
            background-image: url("images/file-priority-normal.png"), -o-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* Opera 11.10+ */
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        &.high {
          -moz-border-radius-topright: 5px;
          -moz-border-radius-bottomright: 5px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: #dcdcdc;
          background-image: url("images/file-priority-high.png");
          /* fallback */
          background-image: url("images/file-priority-high.png"), -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#c8c8c8));
          /* Saf4+, Chrome */
          background-image: url("images/file-priority-high.png"), -webkit-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* Chrome 10+, Saf5.1+ */
          background-image: url("images/file-priority-high.png"), -moz-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* FF3.6+ */
          background-image: url("images/file-priority-high.png"), -ms-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* IE10 */
          background-image: url("images/file-priority-high.png"), -o-linear-gradient(top, #f1f1f1, #c8c8c8);
          /* Opera 11.10+ */
          background-position: center;
          background-repeat: no-repeat;
          border-left-width: 0px;
          &:active, &.selected {
            background-color: #e6e6ff;
            background-image: url("images/file-priority-high.png");
            /* fallback */
            background-image: url("images/file-priority-high.png"), -webkit-gradient(linear, left top, left bottom, from(#d7d7ff), to(#f5f5ff));
            /* Saf4+, Chrome */
            background-image: url("images/file-priority-high.png"), -webkit-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* Chrome 10+, Saf5.1+ */
            background-image: url("images/file-priority-high.png"), -moz-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* FF3.6+ */
            background-image: url("images/file-priority-high.png"), -ms-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* IE10 */
            background-image: url("images/file-priority-high.png"), -o-linear-gradient(top, #d7d7ff, #f5f5ff);
            /* Opera 11.10+ */
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  &.torrent_footer {
    position: absolute;
    top: 15px;
    right: 45px;
    z-index: 90;
    > div {
      float: left;
      cursor: pointer;
      @include css3("user-select", none);
      margin: 0 5px;
      font-size: $font-size-base;
      //@media (max-width: 1024px) {
      //  font-size: 2.2em;
      //}
      > span {
        font-size: $font-size-large*1.8;
        color: $toolbar-set;
        @include css3("transition", all 0.5s);
        @media (max-width: 1024px) {
          font-size: 2.2em;
        }
      }
      &:hover {
        > span {
          color: $gray-100;
          @media (max-width: 1024px) {
            color: $toolbar-set;
          }
        }
      }
      &.main_container {
        position: relative;
        padding: 0;
        > ul {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          > li {
            padding: 0;
            > div {
              display: none;
            }
          }
        }
      }
      &.selected {
        > span {
          border-radius: 25px;
          background-color: lighten($toolbar-set, 5%);
          color: $gray-100;
          @include css3("transition", all 0.5s);
          &:hover {
            background-color: lighten($toolbar-set, 15%);
          }
        }
      }
    }
    @media (max-width: 1024px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: inherit;
      background-color: $gray-90;
      @include border("border-top");
      padding: 0.3em;
      > ul, > ul > li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      > ul {
        > li {

        }
      }
    }
     > div {
      margin: 0 5px;
      font-size: $font-size-base;
      //@media (max-width: 1024px) {
      //  font-size: 2.2em;
      //}
      > span {
        font-size: $font-size-large*1.8;
        color: $toolbar-set;
        @include css3("transition", all 0.5s);
        @media (max-width: 1024px) {
          font-size: 2.2em;
        }
      }
      &:hover {
        > span {
          color: $gray-100;
          @media (max-width: 1024px) {
            color: $toolbar-set;
          }
        }
      }
      &.main_container {
        position: relative;
        padding: 0;
        > ul {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          > li {
            padding: 0;
            > div {
              display: none;
            }
          }
        }
      }
      &.selected {
        > span {
          border-radius: 25px;
          background-color: lighten($toolbar-set, 5%);
          color: $gray-100;
          @include css3("transition", all 0.5s);
          &:hover {
            background-color: lighten($toolbar-set, 15%);
          }
        }
      }
    }
    @media (max-width: 1024px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: inherit;
      background-color: $gray-90;
      @include border("border-top");
      padding: 0.3em;
      > ul, > ul > li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      > ul {
        > li {

        }
      }
    }
  }
  &.dialog_container {
    position: absolute;
    top: 0;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: 1.1em;
    div.dialog_window {
      background-color: #eee;
      margin: 0 auto;
      opacity: .95;
      border-top: none;
      text-align: left;
      width: 420px;
      z-index: 10;
      overflow: hidden;
      position: relative;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
      top: 80px;
    }
    .dialog_logo {
      width: 64px;
      height: 64px;
      margin: 20px 20px 0 20px;
      float: left;
      background: transparent url("images/logo.png") top left no-repeat;
    }
    div.dialog_window {
      h2.dialog_heading {
        display: block;
        float: left;
        width: 305px;
        font-size: 1.2em;
        color: black;
        margin-top: 20px;
      }
      div.dialog_message {
        float: left;
        padding-left: 3px;
        margin-left: -3px;
        width: 305px;
        overflow: hidden;
      }
      a {
        display: block;
        float: right;
        margin: 10px 20px 10px -8px;
        padding: 5px;
        background-color: #EEE;
        border: 1px solid #787878;
        width: 50px;
        height: 15px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: #323232;
        -webkit-appearance: button;
        font: -webkit-control;
        cursor: default;
        &:hover, &:active {
          background: #c0c8d6 url("images/filter_bar.png") bottom repeat-x;
        }
      }
    }
  }
  &#upload_container div.dialog_window div.dialog_message {
    label {
      margin-top: 15px;
      display: block;
    }
    input {
      width: 249px;
      margin: 3px 0 0 0;
      display: block;
      &[type=text] {
        width: 245px;
        padding: 2px;
      }
      &[type=checkbox] {
        margin: 15px 3px 0 0;
        display: inline;
        width: auto;
      }
    }
    #auto_start_label {
      display: inline;
    }
  }
  &.dialog_container div.dialog_window form {
    margin: 0;
    padding: 0px;
  }
  &#move_container input#torrent_path {
    width: 286px;
    padding: 2px;
  }
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

/****
*****
*****  DIALOGS
*****
****/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div.dialog_container div.dialog_window {
    top: 0;
    margin-top: 71px;
  }
}

iframe#torrent_upload_frame {
  display: block;
  /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 0px;
  height: 0px;
  border: none;
  padding: 0;
  margin: 0;
}

/****
*****
*****  POPUP MENU
*****
****/

.ui-menu-item {
  text-align: left;
  white-space: nowrap;
}

#torrent_context_menu, #footer_super_menu {
  font-size: 1em;
  z-index: 3;
}